/* Style class for BoundaryBundle */
.tool-boundary{
    width: 32px;
    height: 32px;
    background: url('../images/tool-boundary.png') no-repeat;
    background-position: center center;
}
.boundary-horizontal-line {
	width: 95%;
    font-size: 1px;
    color: rgba(0, 0, 0, 0);
    line-height: 1px;
    background-color: grey;
    margin-top: 5px;
    margin-bottom: 10px;   
}

.boundary-button {
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	padding-top: 10px;	
}

button {
	margin-left: 20px;
}

table, tr, th, td {
    border: 1px solid black;
}

th {
	background-color: #e0e0e0;
	text-align: center;
}

#boundary-message, #boundary-info-tool { 
    display: inline-block;
}

.biomass-amount {
	border-right-color: transparent;
	text-align: right;
}
.biomass-unit {
	border-left-color: transparent;
}