/* Style class for CircleBundle */
.tool-circle{
    width: 32px;
    height: 32px;
    background: url('../images/tool-circle.png') no-repeat;
    background-position: center center;
}

.horizontal-line {
	width: 100%;
    font-size: 1px;
    color: rgba(0, 0, 0, 0);
    line-height: 1px;
    background-color: grey;
    margin-top: 5px;
    margin-bottom: 10px;
    display: none;
}
#circle-message {
	padding-bottom: 10px;
}

.circle-button, input[type=submit] {
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	padding-top: 10px;	
}

#circle-point {
	padding-top: 5px;
	padding-bottom: 15px;
}

#circle-point-value {
	background-color: #EBEBEB;
}

button {
	margin-left: 20px;
}
